site_name: lume-model
site_url: https://slaclab.github.io/lume-model
repo_url: https://github.com/slaclab/lume-model
repo_name: slaclab/lume-model

nav:
  - Home: index.md
  - Variables: variables.md
  - Models: models.md
  - Utilities: utils.md

theme:
  icon:
    repo: fontawesome/brands/github
  name: material
  features:
    - navigation.top
    - navigation.tabs
    - navigation.indexes
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/slaclab/lume-model
      name: LUME-model

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_style: "google"
            inherited_members: false
            filters:
              - "!^_"  # exclude all members starting with _
              - "^__init__$"  # but always include __init__ modules and methods
            show_bases: true
            show_source: true
            show_root_heading: false
            show_root_toc_entry: false

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.inlinehilite
